#!/bin/sh

{{ if eq .chezmoi.osRelease.id "arch" }}
cd ~/.local/src/yay/
makepkg -si

yay -Syu tmux zsh neovim xsel neofetch openssh htop rsync code nodejs-lts-erbium npm xcape suckless-tools fzf {{ if .desktop }}compton lightdm flameshot dunst brave-bin spotify notion-app ttf-dejavu noto-fonts-emoji otf-overpass rofi feh{{ end }}
{{ end }}

{{ if eq .chezmoi.osRelease.id "debian" -}}
sudo apt install neovim xsel neofetch autojump xcape suckless-tools fzf {{ if .desktop }}compton lightdm flameshot dunst feh{{ end }}
{{ end -}}
