#!/usr/bin/env bash

alias dotfiles='GIT_DIR=$HOME/code/horiceon GIT_WORK_TREE=$HOME'

alias horiceon="/usr/bin/git --git-dir=$HOME/code/horiceon --work-tree=$HOME"

alias horiceon-edit="GIT_WORK_TREE=$HOME GIT_DIR=$HOME/code/horiceon code $HOME"

# Replace ls with eza
# https://github.com/eza-community/eza
if command -v eza &> /dev/null; then
  alias ls="eza"
fi

# Replace cat with bat
# https://github.com/sharkdp/bat
if command -v bat &> /dev/null; then
  alias cat="bat -p"
fi

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep="grep --color=auto"
alias fgrep="fgrep --color=auto"
alias egrep="egrep --color=auto"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

# Docker
# alias docker-compose-up-force-clean="docker compose down && docker rm -f $(docker ps -a -q) && docker volume rm $(docker volume ls -q) && docker compose up -d"
