#!/usr/bin/env bash

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."

# Replace ls with eza
# https://github.com/eza-community/eza
if command -v eza &> /dev/null; then
  alias ls="eza"
fi

# Replace cat with bat
# https://github.com/sharkdp/bat
if command -v bat &> /dev/null; then
  alias cat="bat -p"
fi

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep="grep --color=auto"
alias fgrep="fgrep --color=auto"
alias egrep="egrep --color=auto"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

# Merge PDF files, preserving hyperlinks
# Usage: `mergepdf input{1,2,3}.pdf`
alias mergepdf="gs -q -dNOPAUSE -dBATCH -sDEVICE=pdfwrite -sOutputFile=_merged.pdf"

# Docker
alias doco-d="docker compose down" # DOcker COmpose - Down
alias do-dac="docker rm -f $(docker ps -a -q)" # DOcker - Delete All Container
alias do-dav="docker volume rm $(docker volume ls -q)" # DOcker - Delete All Volumes
alias doco-up="docker compose up -d" # DOcker COmpose - UP (default detached)
alias doco-upfc="doco-d && do-dac && do-dav && doco-rd" # DOcker COmpose - UP Force Clean
