[data]
  desktop = {{ eq (promptString "install for graphical interface [Y/n]") "Y" }}
  [data.git]
    name = "{{ promptString "git name" }}"
    email = "{{ promptString "git email" }}"
  [data.api]
    bitwarden = ""
    tinypng = "{{ (bitwarden "item" "tinypng").login.password }}"
    [data.api.gmail]
      clientid = "{{ promptString "gmail client id (https://console.cloud.google.com/apis/credentials)" }}"
      clientsecret = "{{ promptString "gmail client secret (https://console.cloud.google.com/apis/credentials)" }}"
