[submodule "dot_oh-my-zsh/custom/themes/spaceship-prompt"]
	path = dot_oh-my-zsh/custom/themes/spaceship-prompt
	url = git@github.com:shiftgeist/spaceship-prompt.git
[submodule "dot_oh-my-zsh/custom/plugins/zsh-better-npm-completion"]
	path = dot_oh-my-zsh/custom/plugins/zsh-better-npm-completion
	url = git@github.com:lukechilds/zsh-better-npm-completion.git
[submodule "dot_oh-my-zsh/custom/plugins/zsh-completions"]
	path = dot_oh-my-zsh/custom/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule "dot_local/src/st-instantos"]
	path = dot_local/src/st-instantos
	url = git@github.com:instantOS/st-instantos.git
[submodule "dot_rice/src/yay"]
	path = dot_rice/src/yay
	url = git@github.com:Jguer/yay.git
