[submodule "dot_rice/yay"]
	path = dot_rice/yay
	url = git@github.com:Jguer/yay.git
[submodule "dot_oh-my-zsh/custom/themes/spaceship-prompt"]
	path = dot_oh-my-zsh/custom/themes/spaceship-prompt
	url = git@github.com:shiftgeist/spaceship-prompt.git
[submodule "dot_oh-my-zsh/custom/plugins/zsh-better-npm-completion"]
	path = dot_oh-my-zsh/custom/plugins/zsh-better-npm-completion
	url = git@github.com:lukechilds/zsh-better-npm-completion.git
[submodule "dot_oh-my-zsh/custom/plugins/zsh-completions"]
	path = dot_oh-my-zsh/custom/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule "dot_local/share/horiceon/instantWM"]
	path = dot_local/src/instantWM
	url = git@github.com:instantOS/instantWM.git
