[user]
	name = "PUT_NAME_HERE"
	email = "PUT_EMAIL_HERE"

[credential]
	helper = cache --timeout=36000000

[gpg]
	program = gpg2

[color]
	ui = true

[alias]
	br = branch --sort=-committerdate
	co = checkout
	lo = !git log --graph --oneline --decorate $(git rev-parse --abbrev-ref HEAD) $(git config --global init.defaultBranch)
	st = status
	pl = pull
	pls = pull --autostash
	pu = push
	puf = push --force-with-lease
	pushf = push --force-with-lease
	push-up = !git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)
	reset-hard = !git reset --hard origin/$(git rev-parse --abbrev-ref HEAD) && git clean -f -q .
	rice = !git --git-dir=$HOME/code/horiceon --work-tree=$HOME

[pull]
	rebase = true

[init]
	defaultBranch = main
