!Horiceon
*foreground:    #E8E8E8
*background:    #1C1E26
*accent:        #FAB795
*color0:        #16161C
*color8:        #2E303E
*color1:        #E95678
*color9:        #EC6A88
*color2:        #29D398
*color10:       #3FDAA4
*color3:        #FAB795
*color11:       #FBC3A7
*color4:        #26BBD9
*color12:       #3FC6DE
*color5:        #EE64AE
*color13:       #F075B7
*color6:        #59E3E3
*color14:       #6BE6E6
*color7:        #FADAD1
*color15:       #FDF0ED
