#!/bin/sh

export ZSH="$HOME/.oh-my-zsh"

ZSH_THEME="spaceship"

HYPHEN_INSENSITIVE="true"
DISABLE_UNTRACKED_FILES_DIRTY="true"
HIST_STAMPS="dd.mm.yyyy"
ZSH_TMUX_AUTOSTART="true"

plugins=(
  autojump
  git
  git-flow
  tmux
  zsh-better-npm-completion
  zsh-completions
)

source $ZSH/oh-my-zsh.sh
export PATH="${PATH}:$HOME/bin:$HOME/bin/diff-so-fancy"
{{ with .api.bitwarden }}
export BW_SESSION="{{ . }}"
{{ end }}

{{ if eq .chezmoi.osRelease.id "debian" }}
[[ -s /home/fhungenberg/.autojump/etc/profile.d/autojump.sh ]] && source /home/fhungenberg/.autojump/etc/profile.d/autojump.sh
autoload -U compinit && compinit -u
{{ end }}

# autostart X at login
if systemctl -q is-active graphical.target && [[ ! $DISPLAY && $XDG_VTNR -eq 1 ]]; then
  exec startx
fi

# alias
alias syslog-crit="sudo dmesg -w -l err,warn"
alias syslog="sudo dmesg -w"

{{ if or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu") }}
alias acp="apt-cache policy"
alias agi="sudo apt install"
alias agibp="sudo apt-get -t buster-backports install"
alias agli="apt list --installed"
alias aglu="apt list --upgradable"
alias ags="apt search"
alias agu="sudo apt update"
alias agug="sudo apt upgrade"
{{ end }}

alias battery-status="upower -i /org/freedesktop/UPower/devices/battery_BAT0 | grep -E 'state|time\ to\ full|percentage'"
alias docker-cleanup="echo 'Cleaning docker images older than 24h' && docker image prune -a --filter 'until=24h'"
alias find-broken-symlinks="find ~/ -xtype l -print"
alias select-file="xsel -b <"
alias untar="tar -xvf"
alias untargz="tar -zxvf"
alias untarxz="tar -xf"
alias searchfont="fc-list | grep"

alias gbc="git branch --merged | egrep -v '(^\*|master|dev)' | xargs git branch -d && git pull --prune"
alias nlsg0="npm list -g --depth=0"
alias nv="npm version --no-git-tag-version"
alias ports="netstat -tlpn"
alias v=nvim

if [ -f ~/.zshrc_local ]; then
    source ~/.zshrc_local
fi
