#!/bin/sh

# zinit
sh -c "$(curl -fsSL https://raw.githubusercontent.com/zdharma/zinit/master/doc/install.sh)"

# fzf
git clone --depth 1 https://github.com/junegunn/fzf.git ~/.fzf
~/.fzf/install

# zsh
[command -v COMMAND > /dev/null] && chsh -s $(which zsh)

if command -v COMMAND > /dev/null
then
  chsh -s $(which zsh)
else
  echo "PLEASE INSTALL ZSH (rice install arch|deb)"
fi
