#!/bin/sh

# add dependencies here
{{ if eq .chezmoi.osRelease.id "debian" }}
echo "run_once_init"
sudo apt-get install fzf
{{ end }}

# build dotfile/rice helper
cd src/rice && go build -o ~/bin/rice2 .
