#!/bin/sh

{{ if eq .chezmoi.osRelease.id "arch" }}
yay -Syu i3-gaps vim zsh openssh rsync ttf-dejavu noto-fonts-emoji otf-overpass kitty tmux st rofi dunst htop feh code neofetch maim xdg-utils pulseaudio compton nodejs npm flameshot
{{ else if eq .chezmoi.osRelease.id "debian" -}}
sudo apt install vim
{{ end -}}
