[user]
	name = "{{ .git.name }}"
	email = "{{ .git.email }}"
	signingkey = "{{ .git.gpg }}"

[github]
	user = shiftgeist

[core]
	editor = vim
	excludesfile = ~/.config/git/ignore
	pager = diff-so-fancy | less --tabs=4 -RFX

[diff-so-fancy]
	first-run = false

[credential]
	helper = cache --timeout=36000000

[commit]
	gpgsign = true

[gpg]
	program = gpg2

[color]
	ui = true

[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[alias]
	co = checkout
	logo = log --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	loga = log --oneline --decorate --graph --all

[diff "minjs"]
	textconv = js-beautify
	cachetextconv = true

[diff "mincss"]
	textconv = js-beautify --css
	cachetextconv = true

[merge]
	conflictStyle = diff3

[pull]
	rebase = true
